body {
    background-color: orange;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
}

header {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.Images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 10px;
    /* Row-gap ve column-gap için birleşik kullanım */
    height: auto; /* Dinamik yükseklik */
    padding: 10px;
}

.Images img {
    width: 100px;
    height: auto;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Input-and-Text,
.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Input-and-Text {
    margin-bottom: 20px;
    flex-direction: row;
    gap: 10px;
}

.Buttons {
    gap: 10px;
}

#SubmitButton,
#ResetButton {
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#SubmitButton {
    background-color: #dfdc2e;
    color: black;
}

#ResetButton {
    background-color: rgb(70, 70, 70);
    color: white;
}

#SubmitButton:hover {
    background-color: #819f1e;
}

#ResetButton:hover {
    background-color: black;
}

.Input-and-Text input {
    margin-left: 10px;
}

.Hearts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
}

.score-container,
.lives-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hearts img {
    width: 60px;
    height: auto;
}

/* Mobil Cihazlar İçin Media Query */
@media (max-width: 768px) {
    .Images img {
        width: 80px;
    }

    .Input-and-Text {
        flex-direction: column;
    }

    #SubmitButton,
    #ResetButton {
        width: 120px;
    }

    .Hearts {
        margin-left: 0;
        margin-top: 0;
    }

    .score-container,
    .lives-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .Images img {
        width: 60px;
    }

    .Input-and-Text {
        gap: 5px;
    }

    #SubmitButton,
    #ResetButton {
        width: 100px;
    }

    header {
        padding: 10px;
    }
}
